:root {
  --primary-color: #ff5374;
  --primary-dark: #535971;
  --primary-light: #E5E5E5;
  --background-form: #FFF;
  --background-input: #fafafc;
  --label-color: #4e4958;
  --label-span-color: #c1bccc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--primary-light);
}

body::before {
  content: '';
  width: 100%;
  background: var(--primary-dark);
  height: 436px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.page {
  width: 750px;
  margin: 0 auto;
  padding: 145px 0 145px;
  padding-top: 145px;

}

header {
  color: #fff;
  width: 420px;
}

header h1 {
  font-family: "Staatliches", sans-serif;
  padding-bottom: 18px;
  font-size: 48px;
}

header p {
  font-size: 20px;
  padding-bottom: 50px;
}

form {
  background: var(--background-form);
  padding: 64px;
  border-radius: 8px 8px 0 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

fieldset {
  border: none;
}

.fieldset-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}



legend {
  font-size: 24px;
  color: var(--primary-dark);
  font-family: "Staatliches", sans-serif;
  width: 100%;
  border-bottom: 1px solid #E6E6F0;
  padding-bottom: 8px;
}

legend+* {
  margin-top: 16px;
}

.col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 24px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

label {
  color: var(--label-color);
  font-size: 14px;
}

span {
  font-size: 12px;
  color: var(--label-span-color);
}

input {
  appearance: none;
  color: var(--primary-dark);
  border: 1px solid var(--primary-light);
  height: 56px;
  background: var(--background-input);
  border-radius: 8px;
  font-size: 14px;
  padding: 0 8px;
}

input:focus {
  appearance: none;
  outline: 2px solid var(--primary-dark);
}

.mentorship-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.mentorship-wrapper h2 {
  font-size: 20px;
  font-family: "Staatliches", sans-serif;
  color: var(--primary-dark);
}

.col-3 {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 10px;
}

footer {
  height: 136px;
  background: var(--primary-dark);
  border-radius: 0 0 8px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer button {
  padding: 15px 40px;
  border: none;
  border-radius: 20px;
  width: 600px;
  font-family: "Staatliches", sans-serif;
  font-size: 20px;
  line-height: 26px;
  background: var(--primary-color);
  color: #fff;
  cursor: pointer;
}

footer button:hover {
  opacity: 0.9;
}